@mixin underline($background: #fff, $text: #000, $selection: #ffc, $position: 89%, $width:0.02em){
    color: inherit;
    text-decoration: none;
    background:
        linear-gradient($background, $background),
        linear-gradient($background, $background),
        linear-gradient($text, $text);
    background-size: .05em $width, .05em $width, $width $width;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background, 0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background, 0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background, -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
    background-position: 0 $position, 100% $position;
}