.site-header{
    display: flex;
    justify-content: space-between;
    padding: rem(24);
    @include bp($m){
        padding: rem(48);
    }
}

.logo{
    @include fs4();
    z-index: 1001;
    a{
        color: $text;
    }
}