.site-header{
    display: flex;
    justify-content: space-between;
    padding: rem(24);
    @include bp($m){
        padding: rem(48);
    }
}

.logo{
    @include fs3();
    z-index: 1001;
    a{
        color: $clr_text;
    }
}