.projects-grid{
    
}

.project-grid__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(48);
    padding: rem(42) rem(24) 0 rem(24);
    
    @include bp($m){
        padding: rem(64) rem(48) 0 rem(48);
    }

    @include bp($l){
        padding: rem(80) rem(48) 0 rem(48);
    }
}

.projects-grid--work{
    background: $light_grey;
}

.projects-grid--open-source{
    background: darken($light_grey,5%);
}
.projects-grid--experiment{
    background: darken($light_grey,10%);
}

.projects-grid__title{
    @include fs4();
}