////
// Buttons
////

.btn{
    display: inline-block;
    width: auto;
    margin: 0;
    cursor: pointer;
    border: rem(3) solid;
    color: $text;
    font-size: rem(20);
    font-weight: 500;
    padding: rem(6) rem(12);
    outline: none;
    -webkit-font-smoothing: antialiased;
    @include fs1();

    @include bp($m){
        padding: rem(8) rem(16);
        border: rem(4) solid;
    }

    &:focus{
        box-shadow: none;
    }

    &:hover{
        color: black;
    }
}