.projects-slider{
    
}

.projects-slider--work{
    background: $clr_grey_1;
}

.projects-slider--open-source{
    background: $clr_grey_2;
}
.projects-slider--experiments{
    background: $clr_grey_3;
}

.projects-slider__title{
    @include fs4();
}

.project-slider__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(48);
    padding: rem(42) rem(24) 0 rem(24);
    
    @include bp($m){
        padding: rem(64) rem(48) 0 rem(48);
    }

    @include bp($l){
        padding: rem(80) rem(48) 0 rem(48);
    }
}

