.featured-project{
    margin-bottom: rem(48);
}

.featured-project__img{
    width: 100%;
    margin-bottom: rem(24);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

.featured-project__cat{
    display: block;
    color: $clr_text_light;
    @include fs1();
}

.featured-project__title{
    @include fs3();
}