* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100%;
}

body {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: #2A2C2E;
}

.no-scroll {
  overflow: hidden;
}

p,
ul,
ol,
input,
textarea {
  font-weight: 400;
  margin-bottom: 2.4rem;
}

p:last-child,
ul:last-child,
ol:last-child,
input:last-child,
textarea:last-child {
  margin-bottom: 0;
}

a {
  position: relative;
  color: #6A6A6A;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

a:hover {
  color: #000;
}

p a:hover:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 18%;
  height: 0.1rem;
  background: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

ul, ol {
  margin-left: 1.2rem;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

a img {
  border: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 1100px) {
  .wrapper {
    max-width: 1400px;
  }
}

.btn {
  display: inline-block;
  width: auto;
  margin: 0;
  cursor: pointer;
  background-color: #2A2C2E;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.3rem 1.2rem;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 20rem;
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .btn {
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {
  .btn {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .btn {
    font-size: 1.8rem;
  }
}

@media (min-width: 800px) {
  .btn {
    padding: 0.8rem 1.6rem;
  }
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn .icon {
  height: 1rem;
  padding-left: 1rem;
  margin-top: -2%;
}

@media (min-width: 800px) {
  .btn .icon {
    height: 1.4rem;
  }
}

@media (min-width: 1100px) {
  .btn .icon {
    height: 1.6rem;
  }
}

.btn .icon__path {
  stroke: white;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
}

@media (min-width: 800px) {
  .site-header {
    padding: 4.8rem;
  }
}

.logo {
  font-size: 1.8rem;
  z-index: 1001;
}

@media (min-width: 800px) {
  .logo {
    font-size: 2.4rem;
  }
}

@media (min-width: 1100px) {
  .logo {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) {
  .logo {
    font-size: 3.2rem;
  }
}

.logo a {
  color: #2A2C2E;
}

.logo--alt a {
  color: white;
}

.hamburger {
  z-index: 1001;
  background: none;
  border: none;
  outline: none;
  padding-top: 0.5rem;
  width: 2rem;
  height: 2rem;
}

@media (min-width: 800px) {
  .hamburger {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 1100px) {
  .hamburger {
    width: 4rem;
    height: 4rem;
  }
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger__svg {
  width: 100%;
}

.hamburger__line {
  stroke: black;
  stroke-width: 5;
  transform-origin: 50% 50%;
  transition: transform 0.5s;
}

.hamburger__line--1 {
  transform: translateY(-30px) rotate(0deg);
}

.hamburger__line--2 {
  opacity: 1;
  transition: opacity 0.5s;
}

.hamburger__line--3 {
  transform: translateY(30px) rotate(0deg);
}

.hamburger--open .hamburger__line--1 {
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.hamburger--open .hamburger__line--2 {
  opacity: 0;
  transition: opacity .125s;
}

.hamburger--open .hamburger__line--3 {
  transform: rotate(-45deg);
  transition: transform 0.5s;
}

.hamburger--alt .hamburger__line {
  stroke: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 2s, opacity 1.5s ease-in;
  overflow: hidden;
  z-index: 1000;
}

.nav--open {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in;
}

.nav__bg {
  position: absolute;
  top: 2.8rem;
  right: 2.2rem;
  z-index: -1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transform: scale(1, 1);
  transition: transform 1s, background 2s ease-out;
}

@media (min-width: 800px) {
  .nav__bg {
    width: 5rem;
    height: 5rem;
    top: 4.4rem;
    right: 4.4rem;
  }
}

.nav__bg--open {
  transform: scale(100, 100);
  transition: transform 2s, background 1s;
  background: #000000;
}

.nav__list {
  text-align: center;
  width: 40rem;
  list-style: none;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.nav__list--open {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.nav__item {
  font-weight: 400;
  line-height: 1.5;
  padding: 0.8rem 0;
  font-size: 3.6rem;
}

@media (min-width: 800px) {
  .nav__item {
    font-size: 4.8rem;
  }
}

@media (min-width: 1100px) {
  .nav__item {
    font-size: 5.6rem;
  }
}

@media (min-width: 1400px) {
  .nav__item {
    font-size: 6rem;
  }
}

.nav__item a {
  color: white;
  text-decoration: none;
}

.nav__sub-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding-top: 3rem;
  border-top: 0.1rem solid #6A6A6A;
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.nav__sub-nav--open {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.nav__sub-nav__item {
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .nav__sub-nav__item {
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {
  .nav__sub-nav__item {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .nav__sub-nav__item {
    font-size: 1.8rem;
  }
}

.nav__sub-nav__item a {
  padding: 0 1rem;
  color: white;
}

.home-intro {
  padding: 2.4rem 2.4rem;
}

@media (min-width: 800px) {
  .home-intro {
    padding: 9.6rem 4.8rem;
  }
}

@media (min-width: 1100px) {
  .home-intro {
    max-width: 75%;
  }
}

.home-intro__text p {
  font-size: 3.2rem;
  font-weight: 400;
}

@media (min-width: 800px) {
  .home-intro__text p {
    font-size: 3.8rem;
  }
}

@media (min-width: 1100px) {
  .home-intro__text p {
    font-size: 4.2rem;
  }
}

@media (min-width: 1400px) {
  .home-intro__text p {
    font-size: 4.8rem;
  }
}

.featured-projects {
  background: #F5F5F5;
  padding: 2.4rem 2.4rem;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .featured-projects {
    padding: 9.6rem 4.8rem;
  }
}

.featured-projects__grid {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  max-width: 140rem;
  margin-left: -6rem;
}

.featured-project {
  padding-left: 6rem;
}

.featured-project--landscape {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 800px) {
  .featured-project--landscape {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
}

.featured-project--portrait {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 800px) {
  .featured-project--portrait {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}

.featured-project a {
  width: 100%;
}

.featured-project__img {
  width: 100%;
  margin-bottom: 2.4rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.featured-project__cat {
  display: block;
  color: #6A6A6A;
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .featured-project__cat {
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {
  .featured-project__cat {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .featured-project__cat {
    font-size: 1.8rem;
  }
}

.featured-project__title {
  font-size: 1.8rem;
}

@media (min-width: 800px) {
  .featured-project__title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1100px) {
  .featured-project__title {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) {
  .featured-project__title {
    font-size: 3.2rem;
  }
}

.project-grid__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
  padding: 4.2rem 2.4rem 0 2.4rem;
}

@media (min-width: 800px) {
  .project-grid__header {
    padding: 6.4rem 4.8rem 0 4.8rem;
  }
}

@media (min-width: 1100px) {
  .project-grid__header {
    padding: 8rem 4.8rem 0 4.8rem;
  }
}

.projects-grid--work {
  background: #F5F5F5;
}

.projects-grid--open-source {
  background: #e8e8e8;
}

.projects-grid--experiment {
  background: #dcdcdc;
}

.projects-grid__title {
  font-size: 2rem;
}

@media (min-width: 800px) {
  .projects-grid__title {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .projects-grid__title {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .projects-grid__title {
    font-size: 4.2rem;
  }
}

.project-preview {
  display: block;
  height: 100%;
}

.project-preview__link {
  position: relative;
}

.project-preview__img {
  display: block;
  position: relative;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 2.4rem;
}

.project-preview__title {
  font-size: 1.6rem;
}

@media (min-width: 800px) {
  .project-preview__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 1100px) {
  .project-preview__title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1400px) {
  .project-preview__title {
    font-size: 2.8rem;
  }
}

.project-preview__title a {
  color: #2A2C2E;
}

.project-single__description {
  font-size: 2rem;
  margin: 7.2rem 0;
}

@media (min-width: 800px) {
  .project-single__description {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .project-single__description {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .project-single__description {
    font-size: 4.2rem;
  }
}

@media (min-width: 800px) {
  .project-single__description {
    max-width: 75%;
    margin: 16rem 0;
  }
}

.project-single__detail-img {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 2.4rem;
}

@media (min-width: 800px) {
  .project-single__detail-img {
    margin: 0;
  }
}

.project-single__subtitle {
  font-size: 2rem;
}

@media (min-width: 800px) {
  .project-single__subtitle {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .project-single__subtitle {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .project-single__subtitle {
    font-size: 4.2rem;
  }
}

.project-header {
  padding: 2.4rem;
}

@media (min-width: 800px) {
  .project-header {
    display: flex;
    justify-content: space-between;
    padding: 4.8rem;
  }
}

.project-header__taxonomy {
  display: block;
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .project-header__taxonomy {
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {
  .project-header__taxonomy {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .project-header__taxonomy {
    font-size: 1.8rem;
  }
}

.project-header__taxonomy a {
  color: #6A6A6A;
}

.project-header__taxonomy a:hover {
  color: black;
}

.project-header__taxonomy--bold {
  font-weight: 500;
}

.project-header__title {
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 800px) {
  .project-header__title {
    font-size: 4.8rem;
  }
}

@media (min-width: 1100px) {
  .project-header__title {
    font-size: 5.6rem;
  }
}

@media (min-width: 1400px) {
  .project-header__title {
    font-size: 6rem;
  }
}

@media (min-width: 800px) {
  .project-header__title {
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  .project-header__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1100px) {
  .project-header__aside {
    padding-bottom: 2.4rem;
  }
}

.project-cover {
  background: #F5F5F5;
  padding: 4.2rem 0;
}

@media (min-width: 800px) {
  .project-cover {
    padding: 6.4rem 0;
  }
}

@media (min-width: 1100px) {
  .project-cover {
    padding: 12.8rem 0;
  }
}

.project-cover__img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  max-width: 75%;
}

.detail-imgs {
  position: relative;
  overflow: hidden;
}

/*.detail-imgs__stripes{
    position: absolute;
    width: 162%;
    max-width: rem(2100);
    left: 50%;
    transform: translateX(-50%);
}

.detail-imgs__stripes__stripe{
    fill: $clr_brand;
}*/
.detail-imgs__grid {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  max-width: 140rem;
  margin-left: -6rem;
}

.detail-img {
  padding-left: 6rem;
  margin-bottom: 2.4rem;
}

.detail-img--landscape {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 800px) {
  .detail-img--landscape {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
}

.detail-img--portrait {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 800px) {
  .detail-img--portrait {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}

.detail-imgs__img {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 2.4rem;
}

@media (min-width: 800px) {
  .detail-imgs__img {
    margin: 0;
  }
}

.technical-overview {
  margin: 4rem 0;
}

@media (min-width: 800px) {
  .technical-overview {
    max-width: 75%;
    margin: 8rem 0;
  }
}

.technical-overview__title {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

@media (min-width: 800px) {
  .technical-overview__title {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .technical-overview__title {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .technical-overview__title {
    font-size: 4.2rem;
  }
}

@media (min-width: 800px) {
  .technical-overview__title {
    margin-bottom: 4.8rem;
  }
}

.technical-overview__text {
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .technical-overview__text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {
  .technical-overview__text {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .technical-overview__text {
    font-size: 1.8rem;
  }
}

.project-single__description {
  font-size: 2rem;
  margin: 7.2rem 0;
}

@media (min-width: 800px) {
  .project-single__description {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .project-single__description {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .project-single__description {
    font-size: 4.2rem;
  }
}

@media (min-width: 800px) {
  .project-single__description {
    max-width: 75%;
    margin: 12rem 0;
  }
}

.project-single__detail-img {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 2.4rem;
}

@media (min-width: 800px) {
  .project-single__detail-img {
    margin: 0;
  }
}

.project-single__subtitle {
  font-size: 2rem;
}

@media (min-width: 800px) {
  .project-single__subtitle {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .project-single__subtitle {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .project-single__subtitle {
    font-size: 4.2rem;
  }
}

.icon {
  display: inline-block;
  height: 1.8rem;
}

.icon__path {
  stroke: black;
  fill: none;
}

.prev-next {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;
}

@media (min-width: 800px) {
  .prev-next {
    margin-bottom: 1.2rem;
  }
}

@media (min-width: 1100px) {
  .prev-next {
    margin-bottom: 1.6rem;
  }
}

.prev-next__arrow {
  background: #2A2C2E;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  outline: none;
}

@media (min-width: 800px) {
  .prev-next__arrow {
    padding: 0.6rem 1.2rem;
  }
}

.prev-next__arrow:hover {
  background: black;
}

.prev-next__arrow .icon {
  height: 1rem;
  margin-top: -3%;
}

@media (min-width: 800px) {
  .prev-next__arrow .icon {
    height: 1.2rem;
  }
}

.prev-next__arrow--left {
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  margin-right: 0.2rem;
}

.prev-next__arrow--right {
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.prev-next__arrow .icon__path {
  stroke: white;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  padding: 2.4rem;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.about-header {
  padding: 2.4rem;
}

@media (min-width: 800px) {
  .about-header {
    padding: 4.8rem;
  }
}

.about-header__title {
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 800px) {
  .about-header__title {
    font-size: 4.8rem;
  }
}

@media (min-width: 1100px) {
  .about-header__title {
    font-size: 5.6rem;
  }
}

@media (min-width: 1400px) {
  .about-header__title {
    font-size: 6rem;
  }
}

@media (min-width: 800px) {
  .about-header__title {
    margin-bottom: 0;
  }
}

.about-content {
  padding: 2.4rem 2.4rem;
}

@media (min-width: 800px) {
  .about-content {
    display: flex;
    padding: 9.6rem 4.8rem;
  }
}

.about-content--who {
  background: #F5F5F5;
}

.about-content--who p {
  font-size: 1.8rem;
}

@media (min-width: 800px) {
  .about-content--who p {
    font-size: 2.4rem;
  }
}

@media (min-width: 1100px) {
  .about-content--who p {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) {
  .about-content--who p {
    font-size: 3.2rem;
  }
}

.about-content--what {
  background: #e8e8e8;
}

.about-content--clients {
  background: #dcdcdc;
}

@media (min-width: 800px) {
  .about-content__heading {
    width: 20%;
  }
}

.about-content__title {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

@media (min-width: 800px) {
  .about-content__title {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .about-content__title {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .about-content__title {
    font-size: 4.2rem;
  }
}

.about-content__info {
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .about-content__info {
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {
  .about-content__info {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .about-content__info {
    font-size: 1.8rem;
  }
}

@media (min-width: 800px) {
  .about-content__info {
    width: 60%;
  }
}

.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

.preloader--closed {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 2s, opacity 1.5s ease-in;
}

.preloader__bg {
  background: #000000;
  position: absolute;
  top: 2.8rem;
  right: 2.2rem;
  z-index: -1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transform: scale(100, 100);
}

@media (min-width: 800px) {
  .preloader__bg {
    width: 5rem;
    height: 5rem;
    top: 4.4rem;
    right: 4.4rem;
  }
}

.preloader__bg--closed {
  transform: scale(1, 1);
  transition: transform 1s, background 2s ease-out;
}

.loading-animation {
  width: 15rem;
  opacity: 1;
}

.loading-animation--closed {
  opacity: 0;
  transition: opacity 0.5s;
}

.loading-animation__path {
  stroke: #e8e8e8;
  stroke-width: 1.5;
  fill: none;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: stroke 2s linear infinite;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
