.home-intro{
    background-image: url('assets/img/stripes.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: rem(60) 0;
    padding: rem(60) 0;
    @include bp($m){
        padding: rem(96) 0;
    }
    @include bp($l){
        padding: rem(128) 0;
    }
}

.home-intro__text p{
    @include fs5();
    font-weight: 500;
}