.project-header{
    padding: rem(24);
    @include bp($m){
        display: flex;
        justify-content: space-between;
        padding: rem(48);
    }
}

.project-header__taxonomy{
    display: block;
    @include fs1();
}

.project-header__taxonomy a{
    color: $clr_text_light;

    &:hover{
        color: black;
    }
}

.project-header__taxonomy--bold{
    font-weight: 500;
}

.project-header__title{
    @include fs6();
    margin-bottom: rem(12);
    @include bp($m){
        margin-bottom: 0;
    }
}

.project-header__aside{
    @include bp($m){
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: rem(20);
    }

    @include bp($l){
        padding-bottom: rem(24);
    }
}