.detail-imgs{
    position: relative;
    overflow: hidden;
}

.detail-imgs__grid{
    position: relative;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    max-width: rem(1400);
    margin-left: -4.2%;
}

.detail-img{
    padding-left: 4.2%;
    margin-bottom: rem(24);
}

.detail-img--landscape{
    flex-basis: 100%;
    max-width: 100%;

    @include bp($m){
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }
}

.detail-img--portrait{
    flex-basis: 100%;
    max-width: 100%;

    @include bp($m){
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
}

.detail-imgs__img{
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    width: 100%; // Temp Fix: Image sizes need to be increased
    margin-bottom: rem(24);
    @include bp($m){
        margin: 0;
    }
}


