.preloader{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; // 1 less than the nav bar
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.preloader--closed{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 2s, opacity 1.5s ease-in;
}

.preloader__bg{
    background: $clr_black;
    position: absolute;
    top: rem(28);
    right: rem(22);
    z-index:-1;
    width: rem(25);
    height: rem(25);
    border-radius: 50%;
    transform: scale(100,100);
    @include bp($m){
        width: rem(50);
        height: rem(50);
        top: rem(44);
        right: rem(44);
    }
}

.preloader__bg--closed{
    transform: scale(1,1);
    transition: transform 1s, background 2s ease-out;
}


.loading-animation{
    width: rem(150);
    opacity: 1;
}

.loading-animation--closed{
    opacity: 0;
    transition: opacity 0.5s;
}

.loading-animation__path{
    stroke: $clr_grey_2;
    stroke-width: 1.5;
    fill: none;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: stroke 2s linear infinite;
}

@keyframes stroke {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
        
    }
}